body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.reviewStar {
  margin: 0px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 740;
  line-height: 1.25em;
  color: #484848;
}

.topReview {
  display: flex;
  justify-content: space-between;
  margin: 45px 8px 20px 8px;
}

.houseStars {
  display: flex;
  align-items: center;
}

.numReviews {
  margin: 0px 20px 0px 0px;
}

.magnifi {
  padding: 7px;
}

.search {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  border: solid #ebebeb;
  border-radius: 5px;
  border-width: 1px;
}

.find {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  border: solid #348489;
  border-radius: 5px;
  border-width: 1px;
}


input {
  width: 165px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  border: none;
  outline: none;
  color: #696969
}
::-webkit-input-placeholder {
  color: #797979
}

.border {
  margin-top: -16px;
  margin-bottom: 16px;
}

.line {
  border: solid #ebebeb;
  border-width: 1px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}

.allStars {
  display: flex;
  justify-content: center;
}

.leftStars {
  margin-right: 20px;
}

.allReviews {
  margin-top: 25px;
}

.bottomNav {
  margin: 0px 0px 90px 0px;
}

.searchFilter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.backToReview {
  color: #348489;
  cursor: pointer;
}

.backToReview:hover {
  color: #348489;
  cursor: pointer;
  text-decoration: underline;
}


@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

p.saving {
  justify-content: center;
  display: flex;
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
  font-size: 4rem;
  color: #348489;
  
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}


