.userAv img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.userInfo {
  margin-left: 16px;
}

.userName {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.375em !important;
}

.reviewDate {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
}

.top {
  display: flex;
  margin-bottom: 10px;
}

.mid {
  margin-top: 16px;
  margin-top: 5px;
}

.bottom .line {
  border: solid #ebebeb;
  border-width: 1px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  margin: 10px 0px 25px 0px;
}

.collapsed {
  overflow: hidden;
  height: 65px;
}
  
.expanded {
  overflow: visible;
  height: auto;
}

.read {
  color: rgb(0, 132, 137) !important;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 15px !important;
  margin: 0px 0px 0px -10px;
}

  


