.empty .fas.fa-star {
  color: #d8d8d8;
  font-size: 17px;
  margin-right: 6px;
}

.half .fas.fa-star {
  color: #d8d8d8;
  font-size: 17px;
  margin-right: 6px;
  position: absolute;
}

.fas.fa-star-half{
  color: #348489;
  font-size: 17px;
  margin-right: 6px;
  position: relative;
}

.fas.fa-star{
  color: #348489;
  font-size: 17px;
  margin-right: 6px;
}

.starContainer {
  display: flex;
}

